/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  padding: 1rem 1.5rem;
  font-size: 62.5%;
  font-family: 'Montserrat', 'Arial', sans-serif;
}
nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
  margin-right: 1.5rem;
}
@media (max-width: 500px) {
  nav {
    justify-content: space-between;
  }
}
nav a {
  margin-left: 2.5rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: gray;
}
header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 2.5rem;
  background-color: whitesmoke;
  border: 3px solid salmon;
  border-radius: 20px;
}
@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
  }
}
header img {
  padding: 1.5rem;
}
header img,
header .title {
  width: 48%;
}
@media (max-width: 500px) {
  header img,
  header .title {
    width: 100%;
  }
}
header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .title h1,
header .title h3 {
  width: 100%;
  padding-left: 2rem;
  padding-bottom: 0.7rem;
}
header .title h1 {
  font-size: 3rem;
}
header .title h3 {
  font-size: 1.7rem;
  font-style: italic;
  padding-left: 4rem;
}
header p {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
header .contact-button {
  margin: 1rem 0 3rem 2rem;
}
header .contact-button a {
  padding: 1rem 2rem;
  color: white;
  background-color: skyblue;
  border: 0.3rem solid gray;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  font-size: 2rem;
}
.middle-content {
  display: flex;
  font-size: 1.6rem;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}
@media (max-width: 500px) {
  .middle-content {
    flex-direction: column;
  }
}
.middle-content section {
  width: 48%;
}
@media (max-width: 500px) {
  .middle-content section {
    width: 100%;
    padding: 0;
    margin-bottom: 3rem;
  }
}
.middle-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.middle-content .skills {
  padding: 0 5rem;
}
@media (max-width: 500px) {
  .middle-content .skills {
    padding: 0;
  }
}
.middle-content .skills ul {
  border: 1px solid lightgray;
  border-radius: 10px;
}
.middle-content .skills ul li {
  padding: 1rem;
}
.middle-content .skills ul li:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.work-history h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.work-history .table-container {
  overflow-x: auto;
}
.work-history table {
  width: 100%;
  min-width: 700px;
  font-size: 1.6rem;
  margin-bottom: 10rem;
}
.work-history table tr {
  text-align: left;
}
.work-history table tr th {
  font-weight: bold;
}
.work-history table tr th,
.work-history table tr td {
  padding: 1rem 0;
  border-bottom: 1px solid gainsboro;
}
.work-history table tr:nth-child(odd) {
  background-color: whitesmoke;
}
footer {
  font-size: 1.6rem;
  margin-bottom: 5rem;
  text-align: center;
  color: gray;
}
